<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Statics</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
</head>
<body>
     <header>
      <div class="holiday-container">
       <h3>Jours fériés au Canada en 2025</h3>

      
      @if (holidays.length > 0) {
        <ul>
          @for (holiday of holidays; track holiday.date) {
            <li>
              <div class="calendar-icon"></div>
              <span>{{ holiday.name }} - {{ holiday.date }}</span>
            </li>
          }
        </ul>
      } @else {
        
        @if (error) {
          <p class="error">{{ error }}</p>
        }
      }
      </div>
    </header>
    
    </body>
    </html>
    
     
     


